@import "tailwindcss";

@theme {
  --color-indigo-50:  #EEEEF8;
  --color-indigo-100: #D8D8F4;
  --color-indigo-200: #A5B4FC;
  --color-indigo-400: #6366F1;
  --color-indigo-500: #4F46E5;
  --color-indigo-700: #3730A3;
  --color-indigo-900: #1E1B4B;

  --color-coral-400:  #F87171;
  --color-coral-500:  #EF4444;
  --color-coral-600:  #DC2626;

  --color-surface:       #FFFFFF;
  --color-surface-soft:  #EEEEF8;
  --color-surface-muted: #F3F4F6;
  --font-sans:    "Inter", sans-serif;
  --font-mono:    "JetBrains Mono", monospace;

}